.General-Info.Main-Container {
  grid-column: 1/4;
  grid-row: 1/2;

  display: flex;

  justify-content: center;
  align-items: center;

  padding-left: 40px;
}

.General-Info.Location {
  font-size: 2.1rem;

  display: inherit;

  width: 100%;
  height: 100%;

  align-items: center;
}
